################################################################
# WordPress stable nginx configuration
#
# http://local.tela-botanica.test - this server configuration is
# setup to listen on port 80 for any requests coming in to
# local.tela-botanica.test and use the {vvv_path_to_site}/public_html directory
# to serve them.
server {
    listen       80;
    listen       443 ssl;
    server_name  local.tela-botanica.test *.local.tela-botanica.test ~^local\.tela-botanica\.\d+\.\d+\.\d+\.\d+\.xip\.io$;
    root         {vvv_path_to_site}/public_html;

    error_log    {vvv_path_to_site}/log/error.log;
    access_log   {vvv_path_to_site}/log/access.log;

    {{TLS_CERT}}
    {{TLS_KEY}}

    set          $upstream {upstream};

    include      /etc/nginx/nginx-wp-common.conf;
}

server {
    listen       80;
    listen       443 ssl;
    server_name  api.tela-botanica.test *.api.tela-botanica.test ~^api\.tela-botanica\.\d+\.\d+\.\d+\.\d+\.xip\.io$;
    root         /srv/www;

    error_log    {vvv_path_to_site}/log/error.log;
    access_log   {vvv_path_to_site}/log/access.log;

    set          $upstream {upstream};

    charset utf-8;
    gzip off;

    {{TLS_CERT}}
    {{TLS_KEY}}

    location / {
        index index.php index.html;
        try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ \.php$ {
        try_files      $uri =404;
        include        /etc/nginx/fastcgi_params;
        fastcgi_read_timeout 3600s;
        fastcgi_buffer_size 128k;
        fastcgi_buffers 4 128k;
        fastcgi_param   SCRIPT_FILENAME         $document_root$fastcgi_script_name;
        fastcgi_pass   $upstream;
        fastcgi_index  index.php;
    }

    set $cors_origine_acceptee "http://local.tela-botanica.test";
    if ($http_origin ~* (localhost|local\.tela-botanica\.test|.*\.tela-botanica\.test)) {
        set $cors_origine_acceptee "$http_origin";
    }

    add_header Access-Control-Allow-Origin "$cors_origine_acceptee"; # mode dynamique
    #add_header Access-Control-Allow-Origin "http://local.tela-botanica.test";
    add_header Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS";
    add_header Access-Control-Allow-Headers "Accept,Authorization,auth,Cache-Control,Content-Type,DNT,If-Modified-Since,Keep-Alive,Origin,User-Agent,X-Mx-ReqToken,X-Requested-With";
    add_header Access-Control-Allow-Credentials "true";
    add_header Access-Control-Expose-Headers "X-DebugJrest-Data";

    location ~ "/ezmlm-php(.*)$" {
        rewrite ^/.*$ /ezmlm-php/index.php$1;
    }

    location ~ "/service:annuaire(.*)$" {
        rewrite ^/.*$ /annuaire/index.php$1;
    }

    location ~ "/service:cumulus:doc(.*)$" {
        rewrite ^/.*$ /cumulus/index.php$1;
    }

}
